@import url("//cdn.web-fonts.ge/fonts/bpg-banner/css/bpg-banner.min.css");

*{
  margin:0;
  padding:0;
  list-style:none;
}
body{
  background:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
}
h1{
  color:white;
  font-family: "BPG Banner", sans-serif;
  text-align:center;
}
p{
  color:#4E4E4EF5;
  font-family: "BPG Banner", sans-serif;
  text-align:center;
  margin-top:10px;
  background:#D5AE78;
}
.box{
  border:3px solid red;
}
img{
  border-radius:50%;

}
.inbox{
  border:3px solid red;
  margin-top:50px;
}
.imge{
  margin-top:5px;
}
h2{
  color:white;
  margin-top:5px;
  text-align:center;
  font-size:32px;
  index:1;
}
.pede{
  color:#4E4E4EF5;
  font-family: "BPG Banner", sans-serif;
  text-align:center;
  margin-top:10px;
  background:#D5AE78;
}
.course{
  background:#ADE5EF;
  width:406px;
  height:300px;
  border:3px solid red;
}
span{
  color:red;
  animation-name:games;
  animation-duration:50s;
}
@keyframes games{
   0%{color:yellow;}
   10%{color:blue;}
   15%{color:green;}
   20%{color:#FF00FC;}
   25%{color:#863A47;}
   30%{color:#818181;}
   45%{color:#f39c12;}
   50%{color:#FF00FC;}
   55%{color:#863A47;}
   60%{color:#818181;}
   65%{color:#f39c12;}
   70%{color:#FF00FC;}
   75%{color:#863A47;}
   80%{color:#818181;}
   85%{color:#f39c12;}
   90%{color:#FF00FC;}
   95%{color:#863A47;}
   100%{color:#818181;}
}
h3{
  text-align:center;
  font-family: "BPG Banner", sans-serif;
  color:white;
}
.link{
  color:#FF65A3;
}
a{
  list-style: none;
  list-style-type: none;
  text-decoration:none;
  font-size:70px;
  border-radius:50%;
  color:#FF0202;
}
.color{
  margin-left:250px;
  margin-top:-160px;
  background:none;
  background:#FF840B;
  width:100px;
  border-radius:50px;
  color:white;
}
.com{
  background:none;
  margin-left:250px;
  background:#ff840B;
  width:100px;
  border-radius:50px;
  margin-top:65px;
}
.meme{
  width:150px;
  position:absolute;
}
hr{
  margin-top:10px;
  position:absolute;
}
.color{
  margin-top:-220px;
}
.com{
  margin-top:120px;
  color:white;
}
hr{
  color:black;
}
i{
  margin-top:20px;
}
.hier{
  width:150px;
  position:absolute;
}
